* {box-sizing: border-box;}

html {
  background-color: lightgrey;
  background: url("/static/images/vintage-933793_1920.jpg") no-repeat center center fixed;
  background-size: cover;
}

body {font-family: Georgia, Garamond;}

.header {
  background: url("/static/images/web-1012467_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 999;
}

.footer {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0px;
  padding: 10px;
  text-align: center;
  background-color: rgb(0, 0, 0, 0.2);
  margin-top: 10px;
}

::-webkit-scrollbar {width: 12px;}
::-webkit-scrollbar-track {background: #f1f1f1;}
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: orange;}
