#tabmenu {
  position: sticky;
  top: 0;
  background-color: white;
  background: url("/static/images/web-1012467_1920.jpg") no-repeat center center fixed;
  background-size: cover;
  border: 1px solid grey;
  padding: 20px;
  text-align: center;
}

.tabbtn {
  border: 1px solid grey;
  text-decoration: none;
  padding: 12px 16px;
  background-color: white;
  color: black;
  cursor: pointer;
}

.tabbtn:hover {background-color: gold;}

.tab {display: none;}

.tab:target {
  display: block;
  overflow: hidden;
  font-size: 14px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
}
