  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: grey;
    background-image: linear-gradient(black 10%, grey 30%, lightblue);
  }

  li {
    float: left;
    border-right: 1px solid grey;
  }

  li.jobbmenu {
    float: right;
    border-left: 1px solid grey;
    border-right: none;
  }

  li a,
  .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 18px;
    padding: 14px 14px;
    text-decoration: none;
    transition: all 1s;
  }

  li a:hover,
  .dropdown:hover .dropbtn {
    background-color: gold;
    background-image: linear-gradient(orange 10%, gold 30%, white);
    color: black;
  }

  li.dropdown {display: inline-block;}

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ddd;
    background-image: linear-gradient(lightblue, lightgrey 95%, grey);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    font-size: 16px;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
    text-align: center;
    transition: all 1s;
  }

  .dropdown-content a:hover {background-color: gold;}
  .dropdown:hover .dropdown-content {display: block;}
